---
layout: page
title: Archive
---
	<h1>Archive</h1>
	<section>
    {% for post in site.posts %}
    {% unless post.wordpress_id %}
      <span class="archive-date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a><br />
     {% endunless %}
    {% endfor %}
  	</section>

  	<h1>phansch.de</h1>
  	<section>
	{% for post in site.posts %}
	{% if post.wordpress_id %}
      <span class="archive-date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a><br />
      {% endif %}
    {% endfor %}
  	</section>