---
layout: default
title: Philipp Hansch
auto: false
---
<div id="folio-top">
  <div id="tagline">
    <h1>Hello, I am Philipp.</h1>
    <p>I am a Ruby developer focusing on Ruby on Rails and Javascript. I appreciate clean and well tested code and enjoy playing with new technology. Feel free to take a look at my <a title="My blog" href="http://phansch.net/archive/">writings</a> and <a href="https://gitlab.com/phansch/latex-resume/raw/master/resume.pdf">resumé</a> as well.</p>
  </div>

</div>

<div id="folio-mid">
  <div class="cv">
    <h2>Resumè / CV</h2>
    <p>
    <a href="https://gitlab.com/phansch/latex-resume/raw/master/resume-philipp-hansch.pdf" class="button">English</a>
    </p>
  </div>
  <div class="contact">
    <h2>Contact</h2>
    <ul class="no-bullet">
      <li>
      <a href="mailto:hi@phansch.net">hi@phansch.net</a>
      </li>
      <li>
      Skype: <a href="skype:philipp.hansch?userinfo">philipp.hansch</a>
      </li>
      <li>
      Mobile: +49 (151) 578 009 76
      </li>
    </ul>
  </div>
  <hr />
</div>

  {% assign portfolio_pages = site.pages | where:"layout","portfolio" | sort: "order" %}
  {% for page in portfolio_pages reversed %}
  <article>
    <div class="article-preview-image">
      <a href="{{ page.url }}">
        <img class="thumb" src="{{ page.thumbnail }}" alt="Screenshot">
      </a>
    </div>
    <div class="article-preview-text">
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <a class="body-text" href="{{ page.url }}">{{ page.subtitle }}</a>
      <br />

      <div class="buttons">
        <a href="{{ page.url }}" class="button tiny">More information</a>
        <a href="{{ page.source }}" class="button secondary tiny">Source</a>
      </div>
    </div>
    {% if forloop.last != true %}<hr />{% endif %}
  </article>
  {% endfor %}
