---
layout: default
title: Philipp Hansch
auto: false
---
<div class="small-width-content">
	<div class="container">
  {% for post in site.posts limit:3 %}
  		{% assign string = post %}

      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {{ post.excerpt }}
      <br /><br />
      <small>
      	<a href="{{post.url}}">Read more</a> &sdot;
      		{% include JB/time_to_read %}
    	</small>
    {% if forloop.last != true %}<hr />{% endif %}
  {% endfor %}
  </div>
</div>