<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="{{ASSET_PATH}}/css/styles.css">
    <link rel="stylesheet" href="{{ASSET_PATH}}/css/pygment_trac.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="top">
        <a href="/">Home</a>
        <a class="extra" href="/archive.html">Archive</a>
      </div>
      <div id="main">
        {{content}}
      </div>
      <div id="footer">
        <div id="left">
          Philipp Hansch<br />
          <a href="mailto:philipp@phansch.de">philipphansch@gmail.com</a>
        </div>
        <div id="right">
          <a href="http://github.com/phansch" title="GitHub">github.com/phansch</a><br />
        </div>
      </div>
    </div>
  </body>
</html>