<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="author" content="{{site.author.name}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" type="application/atom+xml" title="phansch.net - Feed" href="http://phansch.net/atom.xml" />
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
    {% if page.layout == "post" %}
      <link rel="stylesheet" href="/assets/css/syntax.css"><!-- Pygments -->
    {% endif %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <nav class="my-top-bar">
      <a title="About"{% if page.title == "Philipp Hansch - Ruby, Rust and more" %} class="active"{% endif%} href="/">About</a> ╵
      <a title="Blog"{% if page.title == "Writing" or page.layout == "post" %} class="active"{% endif%} href="/writing">Blog</a> ╵
      <a title="Reading List"{% if page.title == "Reading List" %} class ="active"{% endif %} href="/reading">Reading</a> ╵
      <a title="100+ Rust PRs"{% if page.title == "One Hundred and more Rust PRs" %} class="active"{% endif%} href="/onehundred/rust">100+ Rust PRs</a> ╵
      <a title="Sponsor me"{% if page.title == "Thanks" %} class="active"{% endif%} href="/thanks">Sponsor me</a>
    </nav>

    <a id="top"></a>

    <section class="main">
      {{content}}
    </section>

    <footer>
      <div id="footer-content">
        <p>
          <a href="mailto:hi@phansch.net" title="hi@phansch.net">mail</a> ::
          <a href="http://twitter.com/philhansch" title="Follow me on Twitter">twitter</a> ::
          <a href="http://github.com/phansch" title="Code">git</a> ::
          <a href="/archive/" title="More posts">archive</a> ::
          <a href="/atom.xml" title="RSS">feed</a> ::
          <a href="https://gist.github.com/phansch/db18a595d2f5f1ef16646af72fe1fb0e" title="Improved YARD Cheatsheet">yard cheatsheet</a>
        </p>
      </div>
    </footer>
  </body>
</html>
