<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="author" content="{{site.author.name}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" type="application/atom+xml" title="phansch.net - Feed" href="http://phansch.net/atom.xml" />
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css"><!-- Pygments -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91824864-1', 'auto');
      ga('send', 'pageview');

    </script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <div class="my-fixed">
      <nav class="my-top-bar">
        <div class="outer-container">
          <div class="col">
            <ul class="menu">
              <li class="title">
                <h1><a href="/">{{ site.author.name }}</a></h1>
              </li>
              <li title="Programs I've written"{% if page.title == "Philipp Hansch - Ruby, Rails and more" %} class="active"{% endif%}>
                <a href="/">Portfolio</a>
              </li>
              <li title="Reading List"{% if page.title == "Reading List" %} class ="active"{% endif %}>
                <a href="/reading">Reading</a>
              </li>
              <li title="Writing"{% if page.title == "Writing" %} class="active"{% endif%}>
                <a href="/writing">Writing</a>
              </li>
            </ul>
          </div>
        </div>

      </nav>
    </div>

    <a id="top"></a>

    <section class="main outer-container">
      {{content}}
    </section>

    <footer>
      <div id="footer-content">
        <p>
          <a href="mailto:hi@phansch.net" title="hi@phansch.net">mail</a> ::
          <a href="http://twitter.com/phansch" title="Follow me on Twitter">twitter</a> ::
          <a href="http://github.com/phansch" title="Code">git</a> ::
          <a href="/archive/" title="More posts">archive</a> ::
          <a href="/atom.xml" title="RSS">feed</a> ::
          <a href="https://gist.github.com/phansch/db18a595d2f5f1ef16646af72fe1fb0e" title="Improved YARD Cheatsheet">yard cheatsheet</a>
        </p>
      </div>
    </footer>
  </body>
</html>
