<div class="portfolio-page col">
  <a href="/index.html#index-mid"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>

  <header>
    <h1 class="front">{{ page.title }}</h1>
    <p class="lead">{{ page.subtitle }}</p>
  </header>

  <section id="portfolio-content">
    {% if page.screenshots %}
    <div class="row">
      {% for screenshot in page.screenshots %}
      <div class="small-6 columns">
        <a href="{{ screenshot }}" class="th">
          <img src="{{ screenshot }}" alt="screenshot" />
        </a>
      </div>
      {% endfor %}
    </div>
    <hr />
    {% endif %}


    {{ content }}

    <a id="download" class="anchor"></a>
    <h2>Download</h2>
    {% assign page = page %}
    {% include custom_downloads %}
  </section>

</div>
