<div class="small-width-content">
  <header>
    <h1 class="front">{{ page.title }}</h1>
    <p class="lead">{{ page.subtitle }}</p>
  </header>

  <section id="downloads" class="clearfix">
  	{% if page.zip %}
    <a href="{{ page.zip }}"><button type="button" class="btn btn-default btn-lg">Download .zip</button></a>
    {% endif %}
    {% if page.exe %}
    <a href="{{ page.exe }}"><button type="button" class="btn btn-default btn-lg">Download .exe</button></a>
    {% endif %}
    <a href="http://github.com/{{site.author.github}}/{{page.github}}" id="view-on-github" class="button"><button type="button" class="btn btn-default btn-lg">View on GitHub</button></a>
  </section>

  <br /><hr />

  <section id="main_content">

    {{ content }}
  </section>
</div>