* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  font: normal 100% "Open Sans", sans-serif; }

p > code {
  border: 1px solid #dddddd;
  background-color: #f8f8f8;
  color: #626262;
  padding: 1px 2px; }

.highlight > pre {
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  font-size: 13px;
  line-height: 1.42857;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border-radius: 4px; }
  .highlight > pre code {
    color: inherit;
    font-weight: normal; }

/* foundation top-bar modifications */
.top-bar {
  background: url("../images/bg-top.png"); }
  .top-bar .left > li a,
  .top-bar .title-area > li a {
    font-family: "Open Sans Condensed", sans-serif;
    color: white;
    text-transform: uppercase;
    transition: color 0.1s ease 0s;
    background: url("../images/bg-top.png"); }
  .top-bar .top-bar-section {
    margin: 0 auto; }
    .top-bar .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar .top-bar-section li.active:not(.has-form) a:hover:not(.button) {
      color: #626262;
      background: white; }
    .top-bar .top-bar-section ul,
    .top-bar .top-bar-section li:not(.has-form) a:not(.button),
    .top-bar .top-bar-section li:not(.has-form) a:hover:not(.button) {
      background: url("../images/bg-top.png"); }

.top-bar.expanded .top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar.expanded .top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  color: #626262;
  background: white; }
.top-bar.expanded ul.title-area {
  background: url("../images/bg-top.png"); }

.top-bar .top-bar-section > .left > li > a {
  font-size: 16px; }

.top-bar .title-area li h1 {
  font-size: 20px; }

.top-bar .top-bar-brand:hover,
.top-bar .top-bar-brand:focus {
  color: white; }

section.main {
  *zoom: 1;
  max-width: 41.875em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 0 2em; }
  section.main:before, section.main:after {
    content: " ";
    display: table; }
  section.main:after {
    clear: both; }
  section.main article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-size: 1.1em;
    line-height: 1.5em; }
    section.main article:last-child {
      margin-right: 0; }
    section.main article .comment_look {
      font-size: 1.1em;
      font-family: "Ubuntu Mono";
      color: #93a1a1; }
    section.main article .comment_look:before {
      content: "# "; }
  section.main ul.archive {
    margin-left: 20px; }
  section.main a.body-text {
    color: #626262; }
    section.main a.body-text:hover {
      color: #626262; }
  section.main h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2.3em; }
    section.main h1 a, section.main h1 a:hover, section.main h1 a:focus {
      text-decoration: none;
      color: #626262; }
  section.main h2 {
    font-size: 1.8em;
    font-weight: 400; }
  section.main hr {
    border-color: #eeeeee; }
  section.main span.bg-green {
    background: #8BBF65; }
  section.main span.bg-orange {
    background: #FFBA59; }
  section.main span.bg-blue {
    background: #66B1FF; }
  section.main span.bg-pink {
    background: #F58377; }
  section.main p.unicode,
  section.main .unicode td {
    font-size: 16px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }
  section.main table.unicode {
    min-width: 900px;
    margin-left: -140px; }
  section.main #folio-top {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.main #folio-top:last-child {
      margin-right: 0; }
    section.main #folio-top h1 {
      font-family: 'Abel', sans-serif;
      font-weight: bolder;
      font-size: 3em; }
    section.main #folio-top p {
      font-family: 'Abel', sans-serif;
      font-size: 1.6em;
      line-height: 1.4em; }
  section.main #folio-mid {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.main #folio-mid:last-child {
      margin-right: 0; }
    section.main #folio-mid div.cv {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      section.main #folio-mid div.cv:last-child {
        margin-right: 0; }
    section.main #folio-mid div.contact {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      section.main #folio-mid div.contact:last-child {
        margin-right: 0; }
    section.main #folio-mid img.contact {
      background: white;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  section.main #folio-overview {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.main #folio-overview:last-child {
      margin-right: 0; }
    section.main #folio-overview .project {
      margin-top: 20px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      section.main #folio-overview .project:last-child {
        margin-right: 0; }
      section.main #folio-overview .project:nth-child(3n) {
        margin-right: 0; }
      section.main #folio-overview .project:nth-child(3n+1) {
        clear: left; }
      section.main #folio-overview .project h2 {
        padding-top: 2em;
        padding-bottom: 1em;
        text-transform: uppercase;
        font-family: "Open Sans Condensed", sans-serif; }
      section.main #folio-overview .project h3 {
        font-family: "Open Sans Condensed", sans-serif; }
        section.main #folio-overview .project h3 span.label {
          line-height: 150%;
          vertical-align: middle; }
      section.main #folio-overview .project .thumbnail > a > img {
        height: 180px;
        border-bottom: 1px solid #9b9b9b;
        border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        opacity: 0.9;
        transition: all 0.3s ease-in-out 0s;
        box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2); }
      section.main #folio-overview .project .thumbnail {
        position: relative;
        height: 350px; }
        section.main #folio-overview .project .thumbnail .buttons {
          position: absolute;
          bottom: 0; }

footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px; }
  footer #footer-content {
    padding-top: 10px;
    border-top: 1px solid white;
    text-align: center;
    line-height: 160%;
    margin: 0px auto; }
    footer #footer-content p {
      font-size: 13px;
      letter-spacing: 4px;
      font-family: Helvetica, sans-serif;
      color: #666666; }
      footer #footer-content p a {
        color: #808080;
        text-decoration: none; }
        footer #footer-content p a:hover {
          color: #57a3e8; }
