---
---

@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';

$font-stack: "Open Sans", sans-serif;
$font-stack-secondary: "Open Sans Condensed", sans-serif;
$primary-color: #ffffff;
$text-color: #626262;
$link-color: rgb(87, 163, 232);
$link-hover: #808080;

body {
  background-color: $primary-color;
  font: normal 100% $font-stack;
}

p > code {
  border: 1px solid #dddddd;
  background-color: #f8f8f8;
  color: $text-color;
  padding: 1px 2px;
}

.highlight > pre {
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  font-size: 13px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  code {
    color: inherit;
    font-weight: normal;
  }
}

/* foundation top-bar modifications */
.top-bar {
  background: url('../images/bg-top.png');

  .left > li a,
  .title-area > li a {
    font-family: $font-stack-secondary;
    color: $primary-color;
    text-transform: uppercase;
    transition: color 0.1s ease 0s;
    background: url('../images/bg-top.png');
  }

  .top-bar-section {
    margin: 0 auto;
    li.active:not(.has-form) a:not(.button),
    li.active:not(.has-form) a:hover:not(.button) {
      color: $text-color;
      background: $primary-color;
    }

    ul,
    li:not(.has-form) a:not(.button),
    li:not(.has-form) a:hover:not(.button) {
      background: url('../images/bg-top.png');
    }
  }
}

.top-bar.expanded {
  .top-bar-section li.active:not(.has-form) a:not(.button), 
  .top-bar-section li.active:not(.has-form) a:hover:not(.button) {
    color: $text-color;
    background: $primary-color;
  }

  ul.title-area {
    background: url('../images/bg-top.png');
  }
}

.top-bar .top-bar-section > .left > li > a {
  font-size: 16px;
}
.top-bar .title-area li h1 {
  font-size: 20px;
}
.top-bar .top-bar-brand:hover,
.top-bar .top-bar-brand:focus {
  color: $primary-color;
}

section.main {
  @include outer-container;
  margin-top: 2em;
  padding: 0 2em;

  article {
    @include span-columns(12);

    font-size: 1.1em;
    line-height: 1.5em;

    h1 {
      font-family: $font-stack-secondary;
      font-size: 2.3em;
      a, a:hover, a:focus {
        text-decoration: none;
        color: #626262;
      }
    }

    h2 {
      font-family: $font-stack-secondary;
      font-size: 1.8em;
      font-weight: 400;
      a, a:hover, a:focus {
        text-decoration: none;
        color: #626262;
      }
    }

    hr {
      border-color: #eeeeee;
    }

    .article-preview-image {
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;

      > a > img {
        height: 180px;
        width: 250px;
        border: 1px solid rgba(216, 216, 216, 1);
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        opacity: 1;
        @include transition (opacity 0.3s ease-out 0s);
      }
    }

    .article-preview-text {
      .buttons {
        margin-top: 1em;
      }
    }

    .screenshot {
      width: 50%;
    }

    .comment_look {
      font-size: 1.1em;
      font-family: "Ubuntu Mono";
      color: #93a1a1;
    }
  }

  ul.archive {
    margin-left: 20px;
  }

  a.body-text {
    color: $text-color;
    &:hover { color: $text-color; }
  }
  span.bg-green {
    background: #8BBF65;
  }
  span.bg-orange {
    background: #FFBA59;
  }
  span.bg-blue {
    background: #66B1FF;
  }
  span.bg-pink {
    background: #F58377;
  }
  p.unicode,
  .unicode td {
    font-size: 16px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  }
  table.unicode {
    min-width: 900px;
    margin-left: -140px;
  }

  #folio-top {
    @include span-columns(12);

    h1 {
      font-family: 'Abel', sans-serif;
      font-weight: bolder;
      font-size: 3em;
    }
    p {
      font-family: 'Abel', sans-serif;
      font-size: 1.6em;
      line-height: 1.4em;
    }

  }

  #folio-mid {
    @include span-columns(12);

    border-bottom: 2px solid #eeeeee;
    margin-bottom: 2em;

    div.cv {
      @include span-columns(6 of 12);
    }
    div.contact {
      @include span-columns(6 of 12);
    }

    img.contact {
      background: white;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    }
  }
}

footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;

  #footer-content {
    padding-top: 10px;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
    line-height: 160%;
    margin: 0px auto;
    p {
      font-size: 13px;
      letter-spacing: 4px;
      font-family: Helvetica, sans-serif;
      color: #666666;
      a {
        color: #808080;
        text-decoration: none;
        &:hover { color: #57a3e8; }
      }
    }
  }
}
