@text_color: #303030;
@white_color: #ffffff;
@light_gray: #9b9b9b;
@light_gray2: #d3d3d3;
@body_bg_color: #e7e7e7;
@top_bg_color: #EF7632;
@mid_bg_color: #E1704B;

/* bootstrap modifications for portfolio */
hr {
  border-width:4px;
}

.btn:focus {
	outline:none;
}
#folio-top, #folio-mid {
  a {
    color: @white_color;
  }

  a:hover, a:focus {
    color: @light_gray2;
    text-decoration: none;
  }
}
#folio-top {
	position:fixed;
  background:url('../images/bg-top.png');
  text-align: center;
  display:table;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index:1;

  .container {
  	vertical-align: middle;
  	display:table-cell;
  	#tagline {
  		width:100%;
	  	display:table;
	  }
  }

  h1 {
  	font-family:'Abel', sans-serif;
    font-weight: bolder;
    font-size: 80px;
  }

  p {
  	font-family:'Abel', sans-serif;
    font-size:40px;
    line-height:45px;
    padding-bottom:10px;
  }
}

#folio-mid {
  background: url('../images/bg-lighter.png');
  padding:60px 0;
  margin-top:100vh;
  position: relative;
  z-index:50;
  img.contact {
    background:white;
    .border-radius(3px)
  }
}

#folio-overview {
	text-align:center;
	background:@body_bg_color;
	position:relative;
	z-index:60;
  h2 {
    padding-top:30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family:'Open Sans Condensed', sans-serif;
  }
  h3 {
    font-family:'Open Sans Condensed', sans-serif;
  }
  .tech {
    text-align: left;
    position:absolute;
    padding-top: 6px;
    padding-left: 26px;
    top:0;
    left:0;
    z-index:65;
    span {
      line-height:230%;
    }
  }

  .thumbnail > a > img {
    height:200px;
    border-bottom: 1px solid @light_gray;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    opacity: 0.9;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);

  }

  .thumbnail {
    width:300px;
    height:350px;
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    p {
      text-align: justify;
      padding:0 10px;
    }
    .buttons {
      position:absolute;
      bottom:10px;
      left:30px;
    }
  }
}

#footer {
  position:relative;
  margin:0;
  padding-top:100px;
  background:@body_bg_color;
  z-index:70;
}


/* LESS mixins */

.box-shadow (@x: 0, @y: 0, @blur: 1px, @spread: 1px, @color: #000) {
  /* Drop shadows do not work in IE */
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.border-radius (@radius: 2px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}