@text_color: #303030;
@white_color: #ffffff;
@body_bg_color: #e7e7e7;
@top_bg_color: #EF7632;
@mid_bg_color: #E1704B;

/* bootstrap modifications for portfolio */
hr {
  border-width:4px;
}

.btn:focus {
	outline:none;
}

.thumbnail > img {
  height:220px;
}

#folio-top {
	position:fixed;
  background:url('../images/bg-top.png');
  text-align: center;
  display:table;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index:1;

  .container {
  	vertical-align: middle;
  	display:table-cell;
  	#tagline {
  		width:100%;
	  	display:table;
	  }
  }
  
  h1 {
  	font-family:'Abel', sans-serif;
    font-weight: bolder;
    font-size: 80px;
  }

  p {
  	font-family:'Abel', sans-serif;
    font-size:40px;
    line-height:45px;
    padding-bottom:10px;
  }
}

#folio-mid {
  background: url('../images/bg-lighter.png');
  padding:60px 0;
  margin-top:100vh;
  position: relative;
  z-index:50;
}

#folio-overview {
	text-align:center;
	background:@body_bg_color;
	position:relative;
	z-index:60;
}

#footer {
  position:relative;
  margin:0;
  padding-top:100px;
  background:@body_bg_color;
  z-index:70;
}