/* MeyerWeb Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* Base text styles */
body {

  font-family:'Droid Serif',Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #e5e2de;
	background-color: #34302b;
	margin: 0;
	line-height: 1.4em;
  border-top:10px solid #4B453E;;
}

h1, h2, h3, h4, h5, h6 {
  color:#988A7A;
  margin:16px 0 5px;
}

p, ul, ol, table, dl {
  margin:0 0 22px;
}

h1, h2, h3 {
  line-height:1.3;
}

h1 {
	font-size: 32px;
}
h1.front {
  margin:0;
  margin-bottom: 5px;
}
h1.front a {
  text-decoration: none;
}

h1.front:hover {
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4, h5, h6 {
	font-weight: 300;
}

a {
  text-decoration: none;
  color: #f1a135;
}

a:hover {
  color: gray;
}

a small {
	font-size: 12px;
}

em {
	font-style: italic;
}

strong {
  font-weight:700;
}

ul li {
  list-style: inside;
  padding-left: 25px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
  white-space: normal;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

small {
  font-size:12px;
}

/* Code blocks */
code, pre {
	font-family: "Lucida Console", Terminal, monospace;
  font-size:14px;
}
pre > code {
  color:black;
}
.highlight {
  border-radius:4px;
  border:1px solid #D7D8C8;
  margin-bottom: 32px;
}
code {
  color:#7193a9;
}
pre {
	padding: 4px 12px;
  background: #e5e2de;
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
}

hr {
  background-color: #4B453E;
}

/* Wrapper */
#wrapper {
  width:40%;
  margin:0 auto;
  padding:10px 50px 40px 40px;
}

/* Header */
#top a {
  color:#72695F;
  font-family: Helvetica;
  font-size: 16px;
  text-decoration:none;
  margin-right:10px;
}

#top a:hover, #top a#home {
  color:#7193a9;
}

.post {
  margin-bottom: 50px;
}

ul.archive li span, .post .date {
  color:#988A7A;
  font-style: italic;
  font-family: serif;
  font-size: 14px;
}

.post .date {
  margin-top: 32px;
}

/* Screenshot drop shadows do not work in IE */
.post img.screenshot {
  border:none;
  -moz-box-shadow:    0px 0px 12px 3px rgba(21, 25, 25, 0.8);
  -webkit-box-shadow: 0px 0px 12px 3px rgba(21, 25, 25, 0.8);
  box-shadow:         0px 0px 12px 3px rgba(21, 25, 25, 0.8);
}

ul.archive li {
  margin-bottom: 5px;
  list-style: none;
}

#footer {
  background:#4B453E;
  width:100%;
  margin-top: -40px;
  margin-bottom: 50px;
  padding-top:20px;
  padding-bottom: 20px;
}

#footer #content {
  margin:0 auto;
  width:40%;
}