{% import "macros.html" as macros %}

{% macro timeline(g_timeline, limit=-1) %}
  {% set posts = get_section(path="posts/_index.md") %}
  {% set timeline_with_posts = g_timeline | concat(with=posts.pages) %}
  {% set timeline_with_posts = timeline_with_posts | sort(attribute="date") | reverse %}
  {% if limit > -1 %}
    {% set timeline_with_posts = timeline_with_posts | slice(end=10) %}
  {% endif %}

  {% for entry in timeline_with_posts %}
    {% set entry_type = entry.type | default(value="post") %}

    <article class="timeline-entry {{ entry_type }}">
      {% if entry_type == "code" %}
	{{ macros::timeline_item_code(item=[entry]) }}
      {% elif entry_type == "post" %}
	{{ macros::timeline_item_post(item=[entry]) }}
      {% elif entry_type == "docs" %}
	{{ macros::timeline_item_docs(item=[entry]) }}
      {% elif entry_type == "reading" %}
	{{ macros::timeline_item_reading(item=[entry]) }}
      {% elif entry_type == "plaintext" %}
	{{ macros::timeline_item_plaintext(item=[entry]) }}
      {% endif %}
    </article>
  {% endfor %}
{% endmacro timeline %}
