---
---

$brand-primary: #f82525;
$brand-secondary: #e0e4cc;
$font-stack: DejaVu Sans, sans-serif;
$primary-color: #ffffff;
$text-color: #626262;
$link-color: rgb(87, 163, 232);
$link-hover: #808080;
$background-color: #f2f2f2;

body {
  background-color: $background-color;
  font: normal 100% $font-stack;
}

kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

figure {
  margin: 1em -30px;
}

.highlight {
  border: 1px solid $text-color;
  border-radius: 4px;
}

.highlight > pre {
  display: block;
  padding: 1px 9px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  code {
    color: inherit;
    font-weight: normal;
  }
}

p code {
  border-radius: 3px;
  font-family: monospace;
  font-weight: normal;
  font-size: 13px;
  padding: .25em, .5em;
}

/* top-bar */
.my-fixed {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
}

.my-top-bar {
  height: 45px;
  background-color: $brand-primary;

  .title h1 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
    font-size: 20px;
  }
  @media only screen and (max-width: 550px) {
    .title h1 {
      display: none;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  ul.menu {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0 auto;

    li { float: left; }
    li h1 a,
    li a {
      display: block;
      line-height: 45px;
      font-family: $font-stack;
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: -1px;
      padding: 0 15px;
    }
    li.active:not(.has-form) a:not(.button),
    li.active:not(.has-form) a:hover:not(.button) {
      color: $text-color;
      background: $background-color;
    }

    li:not(.has-form) a:not(.button),
    li:not(.has-form) a:hover:not(.button) {
      background: $brand-primary;
    }
  }
}

.outer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 41em;
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  .col {
    display: block;
    width: 100%;
    float: left;
    margin-right: 2.3%;
  }
}

section.main {
  margin-top: 75px;
  padding: 0 2em;

  article {
    h1 {
      font-size: 2rem;
      font-family: $font-stack;
      font-weight: 200;
      letter-spacing: -2px;
      a, a:hover, a:focus {
        text-decoration: none;
        color: #626262;
      }
    }

    h2 {
      font-size: 1.8em;
      font-family: $font-stack;
      font-weight: 200;
      letter-spacing: -1px;
      a, a:hover, a:focus {
        text-decoration: none;
        color: #626262;
      }
    }

    .article-preview-image {
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;

      > a > img {
        height: 180px;
        width: 250px;
        border: 1px solid rgba(216, 216, 216, 1);
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
      }
    }

    .article-preview-text {
      .buttons {
        margin-top: 1em;
      }
    }

    .screenshot {
      width: 50%;
    }

    .comment_look {
      font-size: 0.9rem;
      font-family: monospace;
      color: #93a1a1;
    }
  }

  ul.archive {
    margin-left: 20px;
  }

  a.body-text {
    color: $text-color;
    &:hover { color: $text-color; }
  }
  span.bg-green {
    background: #8BBF65;
  }
  span.bg-orange {
    background: #FFBA59;
  }
  span.bg-blue {
    background: #66B1FF;
  }
  span.bg-pink {
    background: #F58377;
  }
  p.unicode,
  .unicode td {
    font-size: 16px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  }
  table.unicode {
    min-width: 900px;
    margin-left: -140px;
  }

  #index-top {
    font-family: $font-stack;

    h1 {
      font-size: 2.3em;
    }
  }
}

footer {
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;

  #footer-content {
    padding-top: 10px;
    border-top: 1px solid #FF4610;
    text-align: center;
    line-height: 160%;
    margin: 0px auto;
    p {
      font-size: 13px;
      letter-spacing: 4px;
      font-family: Helvetica, sans-serif;
      color: #666666;
      a {
        color: #808080;
        text-decoration: none;
        &:hover { color: #57a3e8; }
      }
    }
  }
}
.timeline-entry {
  .comment_look {
    text-transform: uppercase;
    .type {
      cursor: help;
      color: $brand-primary;
    }
    .language {
      color: $brand-primary;
    }
  }
  .body {
    padding-left: 10px;
  }
}
