---
layout: portfolio
title: Programming Portfolio
---
<div id="folio-top">
	<div class="container">
    <div id="tagline">
  		<h1>I am a programmer.</h1>
  		<p>This is my portfolio. I'm showcasing my programming here.<br />
  		But you can also check out my <a title="My blog" href="http://phansch.net/archive/">writings</a> and <a href="#">resumé</a>.</p>
      <button id="jump" class="btn btn-lg">Check out my portfolio below <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>
  
</div>

<div id="folio-mid">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <h2><span class="glyphicon glyphicon-star"></span> GitHub</h2>
        <p>All my projects are open-source and maintained on GitHub. </p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <h2><span class="glyphicon glyphicon-file"></span> Resumé</h2>

        <a href="#"><button type="button" class="btn btn-primary btn-xs">resume.pdf</button></a>
        <a href="#"><button type="button" class="btn btn-primary btn-xs">resume.doc</button></a>
        <a href="#"><button type="button" class="btn btn-primary btn-xs">resume.odf</button></a>

      </div>
      <div class="col-lg-4 col-sm-12">
        <h2><span class="glyphicon glyphicon-folder-open"></span> Downloads</h2>
        
        <ul class="list-unstyled">
          <li>
            <span class="badge">14 Mb</span>
            A .zip file that contains executables for most of the games.
          </li>
          <li>
            <span class="badge">14 Mb</span>
            A .pdf file with screenshots, descriptions and code examples.
          </li>
          <li>
            <span class="badge">14 Mb</span>
            My Resumé
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>


<div id="folio-overview">
  <div class="container">
    <h2 class="text-left">Games</h2>

    <div class="row">
      {% for page in site.pages %}
        {% if page.scope == "portfolio" and page.category == "games" %}
          <div class="col-md-4">
            <a href="{{page.url}}" class="thumbnail">
              <img src="{{page.thumbnail}}" alt="Screenshot">
            </a>
            <h3>{{page.title}} <span class="label label-primary">New</span></h3>
            <p style="text-align:justify">{{page.subtitle}}</p>
            <p class="text-left">Technologies: 
            {% for technology in page.used %}
            <span class="label label-default">{{ technology }}</span> 
            {% endfor %}
            </p>
            <a href="{{ page.url }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-fullscreen"></span> More information</button></a>
            <a href="{{ page.exe }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> .exe</button></a>
            <a href="http://github.com/phansch/{{ page.title }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span> GitHub</button></a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <hr />
    <h2 class="text-left">Miscellaneous</h2>

    <div class="row">
      {% for page in site.pages %}
        {% if page.scope == "portfolio" and page.category == "misc" %}
          <div class="col-md-4">
            <a href="{{page.url}}" class="thumbnail">
              <img src="{{page.thumbnail}}" alt="Screenshot">
            </a>
            <h3>{{page.title}} <span class="label label-primary">New</span></h3>
            <p style="text-align:justify">{{page.subtitle}}</p>
            <p class="text-left">Technologies: 
            {% for technology in page.used %}
            <span class="label label-default">{{ technology }}</span> 
            {% endfor %}
            </p>
            <a href="{{ page.url }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-fullscreen"></span> More information</button></a>
            <a href="{{ page.exe }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> .exe</button></a>
            <a href="http://github.com/phansch/{{ page.title }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span> GitHub</button></a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>




