---
layout: default
title: Portfolio
---
<div id="folio-top">
	<div class="container">
    <div id="tagline">
  		<h1>I am a programmer.</h1>
  		<p>This is my portfolio. I'm showcasing my programming here.<br />
  		But you can also check out my <a title="My blog" href="http://phansch.net/archive/">writings</a> and <a href="#">resumé</a>.</p>
      <button id="jump" class="btn btn-lg">Check out my portfolio below <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>
  
</div>

<div id="folio-mid">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <h2><span class="glyphicon glyphicon-star"></span> GitHub</h2>
        <p>All personal projects are open-source and maintained on GitHub. </p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <h2><span class="glyphicon glyphicon-folder-open"></span> Downloads</h2>
        <p>
          <a href="#"><button type="button" class="btn btn-primary btn-xs">resume.pdf</button></a>
          <a href="#"><button type="button" class="btn btn-primary btn-xs">resume.doc</button></a>
          <a href="#"><button type="button" class="btn btn-primary btn-xs">resume.odf</button></a>
        </p>

        <a href="#"><button type="button" class="btn btn-success btn-xs" title="Contains executables for most of the applications.">executables.zip</button></a>  contains executables for most of the applications and <a href="#"><button type="button" class="btn btn-success btn-xs" title="An offline version of this portfolio in .pdf format.">portfolio.pdf</button></a> contains an offline version of this portfolio in .pdf format.

      </div>
      <div class="col-lg-4 col-sm-12">
        <h2><span class="glyphicon glyphicon-user"></span> Contact</h2>
          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mainto:desk@phansch.net">desk@phansch.net</a></p>
      </div>
    </div>
  </div>
</div>


<div id="folio-overview">
  <div class="container">
    <h2 class="text-left"><span class="glyphicon glyphicon-chevron-right"></span>
Games</h2>

    <div class="row">
      {% for page in site.pages %}
        {% if page.scope == "portfolio" and page.category == "games" %}
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="{{page.url}}">
                <img class="thumb" src="{{page.thumbnail}}" alt="Screenshot">
              </a>
              <h3>{{page.title}}{% if page.new %} <span class="label label-primary">New</span>{% endif %}</h3>
              <p>{{page.subtitle}}</p>
              <div class="tech">
                {% for technology in page.used %}
                <span class="label label-primary">{{ technology }}</span><br />
                {% endfor %}
              </div>
              <div class="buttons">
                <a href="{{ page.url }}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-right"></span> More information</button></a>
                {% if page.exe %}
                <a href="{{ page.exe }}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span> .exe</button></a>
                {% else %}
                <button type="button" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-save"></span> .exe</button>
                {% endif %}
                <a href="http://github.com/phansch/{{ page.title }}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-share"></span> GitHub</button></a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <h2 class="text-left"><span class="glyphicon glyphicon-chevron-right"></span> Miscellaneous</h2>

    <div class="row">
      {% for page in site.pages %}
        {% if page.scope == "portfolio" and page.category == "misc" %}
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="{{page.url}}">
                <img class="thumb" src="{{page.thumbnail}}" alt="Screenshot">
              </a>
              <h3>{{page.title}}{% if page.new %} <span class="label label-primary">New</span>{% endif %}</h3>
              <p>{{page.subtitle}}</p>
              <div class="tech">
                {% for technology in page.used %}
                <span class="label label-primary">{{ technology }}</span><br />
                {% endfor %}
              </div>
              <div class="buttons">
                <a href="{{ page.url }}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-right"></span> More information</button></a>
                {% if page.exe %}
                <a href="{{ page.exe }}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span> .exe</button></a>
                {% else %}
                <button type="button" class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-save"></span> .exe</button>
                {% endif %}
                <a href="http://github.com/phansch/{{ page.title }}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-share"></span> GitHub</button></a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>




