{% set g_timeline = load_data(path="content/timeline.json") %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>

    <meta name="author" content="{{config.extra.author.name}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" type="application/atom+xml" title="philhansch.net - Feed" href="http://philhansch.net/atom.xml" />
    <link rel="stylesheet" type="text/css" href="/assets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/default.css" />
    {% block post_headers %}
    {% endblock post_headers %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <nav class="my-top-bar">
      {% if current_path is defined %}
        <a title="About"{% if current_path == "/" %} class="active"{% endif%} href="/" rel="author">About</a> ╵
        <a title="Blog"{% if current_path == "/writing/" or "posts" in current_path %} class="active"{% endif%} href="/writing">Blog</a> ╵
        <a title="100+ Rust PRs"{% if current_path == "/onehundred/rust/" %} class="active"{% endif%} href="/onehundred/rust">100+ Rust PRs</a> ╵
      {% else %}
        {#
          This conditional is required because `current_path` is not defined in the 404 template
        #}
        <a title="About" href="/">About</a> ╵
        <a title="Blog" href="/writing">Blog</a> ╵
        <a title="Reading List" href="/reading">Reading</a> ╵
        <a title="100+ Rust PRs" href="/onehundred/rust">100+ Rust PRs</a> ╵
      {% endif %}
    </nav>

    <a id="top"></a>

    <section class="main">
      {% block content %}
      {% endblock content %}
    </section>

    {% include "footer.html" %}
  </body>
</html>
