<footer>
  <div id="footer-content">
    <p>
      <a href="mailto:hi@philhansch.net" rel="me" title="hi@philhansch.net">mail</a> ::
      <a href="https://mastodon.social/@phansch" rel="me">mastodon</a> ::
      <a href="https://codeberg.org/philhansch" rel="me" title="Code">codeberg</a> ::
      <a href="https://lobste.rs/~philhansch">lobste.rs</a> ::
      <a href="/archive/" title="More posts">archive</a> ::
      <a href="/atom.xml" title="RSS">feed</a> ::
      <a href="https://gist.github.com/phansch/db18a595d2f5f1ef16646af72fe1fb0e" title="Improved YARD Cheatsheet">yard cheatsheet</a>
    </p>
    <p>
      No ads, no trackers, no javascript.<br>
      Further, no AI was used in the making of this website.
    </p>
    <p id="license">
      Philipp Hansch © 2009-2025
      <a href="/license">BY-NC 4.0 (+MIT)</a>
      <a href="https://creativecommons.org/licenses/by-nc/4.0/"><img src="assets/images/cc.svg" alt=""></a>
    </p>
  </div>
</footer>
