{% extends "base.html" %}
{% import "macros/post_meta.html" as macros %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
  <h2>{{ section.title }}</h2>
    {% for note in section.pages %}
      <div class="note">
        <article class="col h-entry">
          {{ macros::post_meta(resource=note) }}
          <h3 class="p-name">{{ note.title }}</h3>
          <div class="e-content">{{ note.content | safe}}</div>
        </article>
      </div>
    {% endfor %}
{% endblock content %}
