{% extends "base.html" %}
{% import "macros/post_meta.html" as foo %}
{% import "macros/toc.html" as macros %}

{% block title %}{{ page.title }}{% endblock title %}

{% block post_headers %}
<meta name="og:title" content="{{ page.title }}">
<meta name="og:url" content="{{page.permalink}}">
<meta name="og:image" content="{{ config.base_url }}assets/images/avatar.jpeg">
{% endblock post_headers %}

{% block content %}
  <div class="post">
    <article class="col h-entry">
      <h1 class="p-name">{{ page.title }}</h1>
      {{ foo::post_meta(resource=page) | safe }}
      <div class="e-content">{{ macros::replace_toc(resource=page) | safe }}</div>
    </article>
    <hr />
    <div class="about-the-author">
      <img src="/assets/images/avatar.jpeg" height="200px" alt="avatar" class="avatar" />
      <div>
        <h2>Philipp Hansch</h2>
        <h4 class="subtitle">Software Developer</h4>
        <p>
        {{ config.extra.author.about | safe }}
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
