<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="http://phansch.github.com/stylesheets/styles.css">
    <link rel="stylesheet" href="http://phansch.github.com/stylesheets/pygment_trac.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="top">
        <a href="/">Home</a>
        <a class="extra" href="/archive.html">Archive</a>
      </div>
      <div id="main">
        {{content}}
      </div>
      <div id="footer">
        <div id="left">
          Philipp Hansch<br />
          [{{site.author.email}}](mailto:{{site.author.email}})
        </div>
        <div id="right">
          [github.com/phansch](http://github.com/phansch "GitHub")<br />
          [twitter.com/plyturon](http://twitter.com/plyturon "Twitter")
        </div>
      </div>
    </div>
  </body>
</html>