<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="http://phansch.github.com/stylesheets/styles.css">
    <link rel="stylesheet" href="http://phansch.github.com/stylesheets/pygment_trac.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="top">
        <a href="/">Home</a>
        <a class="extra" href="/archive.html">Archive</a>
      </div>
      <div id="main">
        {{content}}
      </div>
    </div>
  </body>
</html>